# Local / generated (same as dockops-instance)
.env
docker-compose.yml
docker-compose.override.yml
.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum
parameters.yml
tmp
main
