services:
  webservice:
    env_file:
      - .env
    volumes:
      - /path/local/to/backup:/srv/backup:ro
    networks:
      servermanager:
        aliases:
          - $INSTANCE_HOSTNAME
      webservice:
  db:
    env_file:
      - .env

networks:
  webservice:
    name: webservice-$INSTANCE_HOSTNAME
    ipam:
      driver: default
      config:
        - subnet: 172.$INSTANCE_IP.0.0/16
