{{ define "Header" }}

<!doctype html>
<html>

  <head>
    <!--Use the title variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Using tailwind fo styling -->
    <!-- <link href="/static/css/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/test.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-stone-100">
    <!--Embed the navitation.html template at this location-->

    {{ template "Navigation" . }}

    <div class="content min-h-screen">

{{ end }}