{{ define "Footer" }}

    </div>

    <div class="text-sm text-center text-green-900 mt-12 pb-10">Website made with Go+Gin!</div>

    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</body>

</html>

{{ end }}